.height-sidebar{
    min-height: 93vh !important;
    width: 10.666667% !important;
}
#parentM li .nav-link:hover{
   background-color: rgba(0, 0, 139, 0.151); 
   color: white;
   cursor: pointer;
}
.text-area{
    height: 286px !important;
}
.padding-group{
    padding: 14px !important;
    border-radius: 0px !important;
}
.genrate:hover{
    padding: 14px !important;
    border-radius: 0px !important;
    cursor: pointer;
    background-color: blue;
    color: white;
}
.group-icon{
    border-radius: 3px !important;
    width: 47px !important;
}

.custom-input-group{
    border-radius: 0px !important;
}
.custom-input-group:hover{
    border-radius: 0px !important;
    background-color: blue !important;
    color: white !important;
    cursor: pointer;
}
.custom-btn{
    background-color: blue !important;
    border: none !important;
    font-family: 'Mina' !important;
    color: white !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-radius: 0px !important;
}
.custom-btn-details{
    background-color: blue !important;
    border: none !important;
    font-family: 'Mina' !important;
    color: white !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-radius: 0px !important;
}
.delete-btn{
    background-color: red !important;
    border: none !important;
    font-family: 'Mina' !important;
    color: white !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-radius: 0px !important;
}
input[type="checkbox"]{
    width: 20px !important;
}
.pass-p{
    font-size: 15px !important;
}